//npm.pkg.github.com/:_authToken=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
@renanmacedo:registry=https://npm.pkg.github.com
progress=true
//registry.npmjs.org/:_authToken=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
